/*#spanVal{
  font-size: 12px;
}*/

html, body {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #333333;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background: repeating-linear-gradient(#ffffff, #ffffff 50%, #603A80 50%, #603A80 100%);
  overflow: hidden;

}

#submit{
  border-radius: 10px;
}

.merchantName {
    font-family: Nunito;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.login-form {

  width: 390px;
  margin: 0 auto 0px;
  padding: 20px 30px 15px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;

}

.login-form form {
  margin-bottom: 15px;
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}

.login-form h6 {
  text-align: center;
  font-weight: 200;
  font-size: 1.5em;
  margin-top: 10px;
  color: #4E4E4E;
}

.form-control, .btn {
  min-height: 38px;
  border-radius: 2px;
}

.form-group {
  margin-top: 20px;
}

.btn {
  font-size: 15px;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.btn-circle {
  border-radius: 20px;
}

.logo {
  margin: 140px auto 10px auto;
  padding: 12px;
  text-align: center;
}

.text-white {
  color: #ffffff !important;
}

.btn {
  background-color: #603A80;
}